In [ ]:
import numpy as np
import pickle
import pandas as pd

In [ ]:
with open('/content/drive/MyDrive/Geekbrainst/preprocessed_tweets.pkl', 'rb') as f:
    df = pickle.load(f)

In [ ]:
df.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesti]"
3,4,0.0,#model i love u take with u all the time in ...,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguid, societi, motiv]"

# Задание 1.

Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? (Учтите, что max_word_limit_spacy для Spacy = 1000000)

С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?
    
Повторим шаги из заданий 1 и 2, используя библиотеку nltk.

In [ ]:
!pip install -U spacy
import spacy
from spacy import displacy

Collecting spacy
  Downloading spacy-2.3.2-cp38-cp38-win_amd64.whl (9.5 MB)
Collecting wasabi<1.1.0,>=0.4.0
  Downloading wasabi-0.8.0-py3-none-any.whl (23 kB)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.2-cp38-cp38-win_amd64.whl (20 kB)
Requirement already satisfied, skipping upgrade: requests<3.0.0,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.24.0)
Requirement already satisfied, skipping upgrade: setuptools in c:\programdata\anaconda3\lib\site-packages (from spacy) (49.2.0.post20200714)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.2-cp38-cp38-win_amd64.whl (115 kB)
Requirement already satisfied, skipping upgrade: tqdm<5.0.0,>=4.38.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (4.47.0)
Collecting blis<0.5.0,>=0.4.0
  Downloading blis-0.4.1-cp38-cp38-win_amd64.whl (5.0 MB)
Collecting srsly<1.1.0,>=1.0.2
  Downloading srsly-1.0.2-cp38-cp38-win_amd64.whl (181 kB)
Collecting catalogue<1.1.0,>=0.0.7
  Downloading catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Requirement already satisfied, skipping upgrade: numpy>=1.15.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (1.18.5)
Collecting thinc==7.4.1
  Downloading thinc-7.4.1-cp38-cp38-win_amd64.whl (2.1 MB)
Collecting plac<1.2.0,>=0.9.6
  Downloading plac-1.1.3-py2.py3-none-any.whl (20 kB)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.3-cp38-cp38-win_amd64.whl (33 kB)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.9)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Installing collected packages: wasabi, murmurhash, cymem, preshed, blis, srsly, catalogue, plac, thinc, spacy
Successfully installed blis-0.4.1 catalogue-1.0.0 cymem-2.0.3 murmurhash-1.0.2 plac-1.1.3 preshed-3.0.2 spacy-2.3.2 srsly-1.0.2 thinc-7.4.1 wasabi-0.8.0

In [ ]:
!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.0/en_core_web_md-2.2.0.tar.gz
import en_core_web_md

Collecting https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.0/en_core_web_md-2.2.0.tar.gz
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.0/en_core_web_md-2.2.0.tar.gz (96.4 MB)
Requirement already satisfied: spacy>=2.2.0 in c:\programdata\anaconda3\lib\site-packages (from en-core-web-md==2.2.0) (2.3.2)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (1.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (0.8.0)
Requirement already satisfied: numpy>=1.15.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (1.18.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (2.24.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (1.1.3)
Requirement already satisfied: thinc==7.4.1 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (7.4.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (49.2.0.post20200714)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (1.0.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (4.47.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (3.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (2.0.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.0->en-core-web-md==2.2.0) (0.4.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-md==2.2.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-md==2.2.0) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-md==2.2.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-md==2.2.0) (3.0.4)
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py): started
  Building wheel for en-core-web-md (setup.py): finished with status 'done'
  Created wheel for en-core-web-md: filename=en_core_web_md-2.2.0-py3-none-any.whl size=98072937 sha256=ab049d3c39f07baf5aaf29378c560d7201fc8242b3dcd18ced7fbc0580251d0f
  Stored in directory: c:\users\a.kraev\appdata\local\pip\cache\wheels\31\1f\21\52bc46cea1e50c10a3b246d5d266455b9a0e77c380bb7ac928
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.2.0

C:\ProgramData\Anaconda3\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_core_web_md' (2.2.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [ ]:
%%time

nlp = en_core_web_md.load()

ner = df['clean_tweet'].apply(lambda x:  nlp(x))

Wall time: 6min 48s

In [ ]:
ner

0        (when, father, is, dysfunctional, and, is, so,...
1        (thanks, for, lyft, credit, can, not, use, cau...
2                                  (bihday, your, majesty)
3        (model, love, yoyou, take, with, yoyou, all, t...
4                   (factsguide, society, now, motivation)
                               ...
49154    (thought, factory, leftright, polarisation, tr...
49155    (feeling, like, mermaid, hairflip, neverready,...
49156    (hillary, campaigned, today, in, ohioomg, used...
49157    (happy, at, work, conference, right, mindset, ...
49158    (my, song, so, glad, free, download, shoegaze,...
Name: clean_tweet, Length: 49159, dtype: object

In [ ]:
ner_list = ner.tolist()

ner_ComboData = []
for i in ner:
    for j in i.ents:
        ner_ComboData.append((j.text, j.label_))

df_ner = pd.DataFrame(ner_ComboData, columns=['text', 'label'])

In [ ]:
df_ner.head()

                   text label
0                   pdx   GPE
1    factsguide society   ORG
2              tomorrow  DATE
3  the next school year  DATE
4              the year  DATE

In [ ]:
df_ner['label'].value_counts()

DATE           10800
PERSON          6802
GPE             5500
ORG             5443
TIME            2297
NORP            1741
CARDINAL        1122
ORDINAL          637
LOC              312
FAC              301
PRODUCT          245
EVENT            132
WORK_OF_ART       70
LANGUAGE          37
LAW               12
QUANTITY          10
MONEY              7
PERCENT            3
Name: label, dtype: int64

In [ ]:
df_ner_person = df_ner.loc[df_ner['label'] == 'PERSON', ['text']]

In [ ]:
df_ner_person['text'].value_counts().head(20)

bing bong            107
obama                 80
hillary               62
hu                    58
orlando               33
christina grimmie     32
jesus                 30
lebron                29
donald                26
clinton               22
god                   22
michelle obama        20
bernie                20
carl paladino         20
donald trump          20
ali                   18
jo cox                18
karen iqbal galib     17
starkes gewitter      17
sun                   17
Name: text, dtype: int64

Задание 2.
Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру.

С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\a.kraev\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [ ]:
nltk.download('maxent_ne_chunker')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\a.kraev\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.

True

In [ ]:
nltk.download('words')

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\a.kraev\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [ ]:
import nltk

In [ ]:
token_list = list()

for list__ in df['tweet_token']:
    for list_ in list__:
        token_list.append(list_)

len(token_list)

579564

In [ ]:
tags = nltk.pos_tag(token_list)

In [ ]:
chunk = nltk.ne_chunk(tags)

In [ ]:
ner_list = ner.tolist()

ner_ComboData = []
for one_chunk in chunk:
    #print(one_chunk)
    try:
        ner_ComboData.append((one_chunk[0], one_chunk[1]))
    except Exception:
        print(one_chunk)

df_ner = pd.DataFrame(ner_ComboData, columns=['text', 'label'])
df_ner.head(20)

(ORGANIZATION tonightI/JJ)

             text label
0            when   WRB
1          father    NN
2              is   VBZ
3   dysfunctional    JJ
4             and    CC
5              is   VBZ
6              so    RB
7         selfish    JJ
8              he   PRP
9           drags   VBZ
10            his  PRP$
11           kids   NNS
12           into    IN
13            his  PRP$
14    dysfunction    NN
15            run    VB
16         thanks   NNS
17            for    IN
18           lyft    JJ
19         credit    NN

In [ ]:
df_ner['label'].unique()

array(['WRB', 'NN', 'VBZ', 'JJ', 'CC', 'RB', 'PRP', 'PRP$', 'NNS', 'IN',
       'VB', 'MD', 'VBP', 'VBN', 'VBD', 'PDT', 'DT', 'VBG', 'TO', 'WP',
       'EX', 'RP', 'NNP', 'WDT', 'JJR', 'CD', 'JJS', 'FW', 'UH', 'RBS',
       'RBR', "''", 'WP$', 'NNPS', 'POS', '$'], dtype=object)

In [ ]:
df_ner['label'].value_counts()

NN      146836
JJ       72597
IN       51408
NNS      36138
RB       32776
VB       30276
VBP      30225
PRP      27729
DT       27618
VBZ      19809
VBG      16741
TO       15358
PRP$     12109
VBD      11793
CC       10241
VBN       9199
MD        7315
WRB       4379
WP        3192
RP        3019
CD        1770
JJS       1734
JJR       1646
WDT       1566
PDT       1138
RBR        881
FW         600
EX         570
NNP        399
RBS        334
UH         126
NNPS        15
''          11
WP$         10
POS          4
$            1
Name: label, dtype: int64

In [ ]:
df_ner_pereson = df_ner.loc[df_ner['label'] == 'NNP', 'text']

In [ ]:
df_ner_pereson.value_counts().head(40)

xxx             75
xoxo            29
xx              28
xenophobia      19
youtuber        16
october          9
kinky            9
xmas             8
september        7
xboxe            6
zen              6
xd               6
xo               6
xbox             5
yay              3
yogi             3
xc               3
zionazis         3
xxxx             3
kickstaer        2
xhaka            2
kaika            2
xterra           2
yoga             2
november         2
zurich           2
xxxxx            2
michigan         2
xtremeairk       2
sober            2
justinbieber     2
yesyou           2
lbgt             2
zoro             2
oxford           2
june             2
zealand          2
zrich            2
keshi            2
lifemember       1
Name: text, dtype: int64

In [ ]:
document = df['clean_tweet'].to_string()

In [ ]:
{(' '.join(c[0] for c in chunk), chunk.label() ) for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(document))) if hasattr(chunk, 'label') }

{('tonightI', 'ORGANIZATION')}

# Задание 3.
Какая из библиотек по вашему лучше отработала? Сравните качество полученных most_common NER и количество распознаных NER.

spacy, nltk не распознала ни персоны, ни организации. nltk их классифицировала только как существительные.